/* 
morski #87B6A7;
jasny zolty #FFF05A;
jasny zolty #e6cf8b;
zolty #f2b632
fiolet #300032
czarny #06000a
czerwony #c43235
jasny #e6e6e8
szary #e8edf3


*/

/*html {
	font-family: 'Griffy', cursive;
}*/

/* ---------------------------------------------------------------------------------------main site */
/*.bgcolor {
	background-color: #c43235;
}*/
/** {
	margin: 0;
}
*/

#page1 {
	background-color: #f2b632;
	/*żółte tło*/
	color: #c43235;
	/*czerwony text*/
}
#page2 {
	background-color: #300032;
	/*fioletowe tło*/
}
#page2 nav a {color: #f2b632;}

#page3 {
	background-color: #c43235;
	/*czarne tło*/
}
#page3 nav a {color: #5a5c51;}

#page4 {
	background-color: #06000a;
}

#page5 {
	background-color: #c7ad88;
}

body {
	font-family: 'Indie Flower', cursive;
	height: 100vh;
	overflow-x: hidden;
}

nav {
	max-width: 600px; 
	font-weight: 900;
	margin: 0 auto;
}

nav > ul {
	padding: 0;
	list-style-type: none;
	display: flex;
	/*width: 100%;*/
}

nav > ul > li {
	flex: 1 1 10%;
}

nav > ul > li > a {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 10px 0;
	text-transform: uppercase;
	color: white;
}

a, a:hover, a:focus {
	text-decoration: none;
}

a:focus {
	outline: none;
}

#page1 nav a:hover, #page1 nav a:focus {
	color: #300032; /*fiolet*/
}

#page2 nav a:hover, #page2 nav a:focus {
	color: #FFF; /*morski*/
}

#page3 nav a:hover, #page3 nav a:focus {
	color: #1d2120; /*ciemny szary*/
}

#page4 nav a:hover, #page4 nav a:focus {
	color: #c43235; /*czerwony*/
}

nav a:hover {
	transform: translate(3px, 3px);
	/*transform: rotate(10deg);*/
	/*rotate(45deg) translate(24px, 25px);*/
}

/* ---------------------------------------------------------------------------------------main site */


/* ------------------------------------------------------------------------------------------slider */

#slider img {
	width: 100%;
}

#slider {
	width: 500px;
	height: 500px;
	margin: 0 auto;
	position: relative;
}

#slider img { 
	position: absolute; 
	top: 0; 
	left: 0; 
}

.fadein {
 position:relative;
 width:500px;
 height:332px;
 }

.fadein img {
position:absolute; left:0; top:0;
}


/* ------------------------------------------------------------------------------------------slider */

/* ----------------------------------------------------------------------------------------projects */


/* ----------------------------------------------------------------------------------------projects */




/* -----------------------------------------------------------------------------------------contact */


/* -----------------------------------------------------------------------------------------contact */

/* --------------------------------------------------------------------------------------validation */

.error {
	/*background-color: red;*/
	border: 1px solid red;
}

/* --------------------------------------------------------------------------------------validation */
